.content {
    /* border: 1px solid black; */
}

.project-content {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    /* border: 1px solid black; */
}

.project-content>div {
    width: 92%;
    height: 90%;
    margin: auto;
    padding-top: 20px;
    /* border: 1px solid black; */
}

.project-content>div>div {
    height: 25%;
    width: 85%;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    gap: 40px;
    border-radius: 26px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    /* border: 1px solid black; */
}

#project-box1 {
    width: 60%;
}

#project-box1>h4 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 6px 6px;
    /* border: 1px solid black; */
}

#project-box1>img {
    width: 98%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 25px; */
}

#project-box1>div {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

#project-box1>div>a {
    text-align: center;
    width: 110px;
    height: 26px;
    font-size: 15px;
    font-weight: 600;
    /* border: 1px solid black; */
    color: black;
}

#project-box1>div>a:hover {
    border-radius: 6px;
    background-color: black;
    color: white;
}

#project-box1>div>img {
    border-radius: 50%;
}

#project-box2 {
    width: 40%;
    padding: 20px 20px;
}

#project-box2>div:nth-child(1)>p {
    text-align: justify;
    line-height: 1.7;
    /* border: 1px solid black; */
}

#project-box2>div:nth-child(1) {
    height: 30%;
    width: 100%;
}

#project-box2>div>h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lang-div-1,
#tool-div-1 {
    display: flex;
    gap: 40px;
}

#lang-div-1>img {
    height: 60px;
    width: 60px;
}

#tool-div-1>img {
    height: 60px;
    width: 60px;
}

/* medium screens */

@media all and (min-width:768px) and (max-width:1023px) {

    .content {
        width: 100%;
        height: 1500px;
    }

    .project-content {
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }

    .project-content>div {
        width: 98%;
        height: 100%;
        margin: auto;
        /* margin-left: 20px; */
        /* border: 1px solid black; */
    }

    .project-content>div>div {
        height: 24%;
        width: 98%;
        border-radius: 26px;
        margin-bottom: 15px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        /* border: 1px solid black; */
    }

    #project-box1 {
        width: 60%;
    }

    #project-box1>h4 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 6px 6px;
        /* border: 1px solid black; */
    }

    #project-box1>img {
        width: 100%;
        height: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* border-radius: 25px; */
    }

    #project-box1>div {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
    }

    #project-box1>div>a {
        text-align: center;
        width: 110px;
        height: 26px;
        font-size: 15px;
        font-weight: 600;
        /* border: 1px solid black; */
        color: black;
    }

    #project-box1>div>a:hover {
        border-radius: 6px;
        background-color: black;
        color: white;
    }

    #project-box1>div>img {
        border-radius: 50%;
    }

    #project-box2 {
        width: 40%;
        padding: 20px 20px;
    }

    #project-box2>div:nth-child(1)>p {
        font-size: 15px;
        text-align: justify;
        line-height: 1.5;
        /* border: 1px solid black; */
    }

    #project-box2>div:nth-child(1) {
        height: 40%;
        width: 100%;
    }

    #project-box2>div>h4 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #lang-div-1,
    #tool-div-1 {
        display: flex;
        gap: 20px;
    }

    #lang-div-1>img {
        height: 40px;
        width: 40px;
    }

    #tool-div-1>img {
        height: 40px;
        width: 40px;
    }

    .footer {
        width: 100%;
        height: 80px;
        margin-top: 110px;
        background-color: black;
        display: none;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
    }

}

/* small screens */

@media all and (min-width:321px) and (max-width:767px) {

    .project-content {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        /* border: 1px solid black; */
    }

    .project-content>div {
        width: 100%;
        height: 98%;
        padding: 11px 11px;
        /* border: 1px solid black; */
    }

    .project-content>div>div {
        height: 30%;
        width: 98%;
        border-radius: 26px;
        margin-bottom: 20px;
        display: inline-block;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        /* border: 1px solid black; */
    }

    #project-box1 {
        width: 100%;
        height: 40%;
        /* border: 1px solid black; */
    }

    #project-box1>h4 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin: 6px 6px;
        /* border: 1px solid black; */
    }

    #project-box1>img {
        width: 100%;
        height: 80%;
        display: block;
        /* border-radius: 25px; */
    }

    #project-box1>div {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
    }

    #project-box1>div>a {
        text-align: center;
        width: 110px;
        height: 26px;
        font-size: 15px;
        font-weight: 600;
        /* border: 1px solid black; */
        color: black;
    }

    #project-box1>div>a:hover {
        border-radius: 6px;
        background-color: black;
        color: white;
    }

    #project-box1>div>img {
        border-radius: 50%;
    }

    #project-box2 {
        width: 100%;
        height: 60%;
    }

    #project-box2>div:nth-child(1)>p {
        font-size: 10px;
        text-align: justify;
        line-height: 1.5;
        /* border: 1px solid black; */
    }

    #project-box2>div:nth-child(1) {
        height: 40%;
        width: 100%;
    }

    #project-box2>div>h4 {
        font-size: 15px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #lang-div-1,
    #tool-div-1 {
        display: flex;
        gap: 20px;
    }

    #lang-div-1>img {
        height: 20px;
        width: 20px;
    }

    #tool-div-1>img {
        height: 20px;
        width: 20px;
    }

    .footer {
        width: 100%;
        height: 80px;
        margin-top: 80px;
        background-color: black;
        display: none;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
    }

}